// Main Menu

.main-menu {
  margin-top: 30px;
  text-align: center;
  .subnav {
    text-align: left;
  }
  .menu li a {
    padding-bottom: 30px;
    font-size: 12px;
  }
}
.top-bar .logo {
  max-width: 95px;
}
.nav-menu {
  padding-top: 20px;
  a img {
    margin: 0 auto;
  }
  .utility-menu {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .overlay-bar .has-dropdown:after {
    color: transparent;
  }
  .main-menu {
    .menu li a {
      padding-bottom: 10px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .top-bar .logo {
    margin-top: -13px;
  }
}

// Footer

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  .menu li a {
    padding-bottom: 10px;
  }
}
footer.details .sub {
  margin-top: 28px;
}
.footer-contact h1 {
  margin: 60px 0 30px;
}
.contact-map {
  padding-top: 75px;
}
@media only screen and (max-width: 991px) {
  .contact-map {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-contact h1 {
    margin: 30px 0 0px;
  }
}
.show-small {
  display: none;
}
@media only screen and (max-width: 500px) {
  .show-small {
    display: block;
  }
  .hide-small {
    display: none;
  }
}
@media only screen and (max-width: 430px) {
  .footer-container iframe {
    max-width: 100%;
  }
}


// Resize slider and sections

.align-vertical-wrapper {
  position: absolute; 
  left: 93px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: table;
}
.align-vertical.align-vertical-inner {
  display: table-cell; 
  vertical-align: middle; 
}
.hero-slider .slides li {
  height: 630px;
}
.flex-control-nav {
  bottom: 15px;
}
.pad-top {
  padding-top: 60px;
}
.slides .pad-top {
  padding-top: 140px;
}
section.duplicatable-content.home-section-two {
  padding: 30px 0;
}
@media only screen and (min-width: 1400px) {
  .background-image {
    width: 100%;
  }
}

.feature-icon-large {
  i {
    margin-right: auto;
    margin-left: auto;
  }
  p {
    text-align: justify;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .feature-icon-large {
    h5 {
      height: 38px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .main-menu {
    text-align: left;
  }
  .has-dropdown:hover .subnav{
    display: none
  }
  .nav-menu {
    padding-top: 5px;
  }
  .top-bar .logo {
    max-width: 75px;
  }
  .flex-control-nav {
    bottom: -5px;
  }
  .hero-slider {
    .slides li {
      height: 460px;
      margin-top: 80px;
      .btn {
        margin-top: 0;
      }
      h1 {
        margin-bottom: 20px;
      }
    }
    .pad-top {
      padding-top: 0;
    }
  }
  .background-image {
    max-height: 100%;
    max-width: none;
  }
  // .feature-icon-large {
  //   h5 {
  //     text-align: center;
  //   }
  //   i {
  //     margin-right: auto;
  //     margin-left: auto;
  //   }
  // }
}


// Main Style additions

.page-header .col-sm-12.pad-top {
  height: 218px;
}

.btn-blue, .contact-us .btn-blue {
  border-color: #153949;
  color: #153949;
}
.btn-blue:hover, .contact-us .btn-blue:hover {
  background-color: #153949;
  color: #fff;
  border-color: #153949;
}
.btn.btn-primary.btn-squarish {
  border-radius: 12px;
}
@media only screen and (max-width: 767px) {
  .home-2-columns .feature-icon-large h5 {
    text-align: left;
  }
}

.team-1 {
  img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
  }
  .team-title {
    font-size: 16px;
  }
  .accordion {
    margin-top: 30px;
    .title {
      text-align: center;
      .manager-name {
        font-size: 18px;
      }
      .manager-role {
        color: #777777;
      }
      &:hover {
        .manager-role {
          // color: #cccccc;
        }
      }
    }
    .text .lead {
      margin-bottom: 5px;
    }
  }
}


.fiduciary-duty {
  .pricing-tables {
    margin-top: 30px;
  }
  .pricing-table {
    padding-bottom: 0;
    .price {
      height: 260px;
      padding: 40px 15px;
    }
    .price2 {
      height: 290px;
      padding: 40px 15px;
    }
  }
  h5.alt-font {
    font-size: 14px;
    line-height: 18px;
    height: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .fiduciary-duty .pricing-table {
    .price {
      height: 308px;
    }
    .price2 {
      height: 338px;
    }
  }
}
@media only screen and (max-width: 992px) {
  .fiduciary-duty {
    .pricing-tables > .col-md-3 {
      padding: 0;
      .pricing-table {
        margin-bottom: 0;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 0!important;
        .price {
          height: 248px;
        }
        .price2 {
          height: 248px;
        }
      }
    }
    .col-md-3:nth-child(odd) .pricing-table {
      border-right: none;
    }
  }  
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .fiduciary-duty {
    .col-md-3:nth-child(1) .pricing-table,
    .col-md-3:nth-child(2) .pricing-table {
      border-bottom: none;
    }
    .col-md-3:nth-child(odd) .pricing-table {
      border-right: none;
    }
    .col-md-3:nth-child(1) .pricing-table {
      border-radius: 25px 0px 0px 0px!important;
    }
    .col-md-3:nth-child(2) .pricing-table {
      border-radius: 0px 25px 0px 0px!important;
    }
    .col-md-3:nth-child(3) .pricing-table {
      border-radius: 0px 0px 0px 25px!important;
    }
    .col-md-3:nth-child(4) .pricing-table {
      border-radius: 0px 0px 25px 0px!important;
    }
  }  
}
@media only screen and (max-width: 767px) {
  .fiduciary-duty {
    .pricing-table {
      margin: 0 30px;
      .price {
        height: auto!important;
      }
      .price2 {
        height: auto!important;
      }
    }
    .col-md-3:nth-child(1) .pricing-table {
      border-radius: 25px 25px 0px 0px!important;
    }
    .col-md-3:nth-child(4) .pricing-table {
      border-radius: 0px 0px 25px 25px!important;
    }
    .col-md-3:nth-child(2) .pricing-table {
      border-top: none!important;
    }
    .col-md-3:nth-child(3) .pricing-table {
      border-top: none!important;
      border-bottom: none!important;
    }
  }
}


// CORPORATE SERVICES

.bullet-list-row {
  margin-top: 15px;
  list-style-type: none;
  & > div {
    margin-top: 15px;
  }
  .bullet-list {
    list-style: inherit;
    margin-left: 30px;
    margin-top: 10px;
    li {
      font-size: 16px;
      text-indent: -30px;
      margin-bottom: 5px;
    }
    li:before {
      font-family: 'ElegantIcons';
      content: '\5a';
      float: left;
      width: 30px;
      font-size: 19px;
      color: #153949;
    }
    .lead {
      margin: 10px 0 10px -28px;
    }
    .bullet-2 {
      margin-left: 25px;
      font-size: 15px;
      text-indent: -25px;
    }
    .bullet-2:before {
      font-size: 16px;
      width: 25px;
    }
  }
}

.international-pension-plans img {
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  .bullet-list-row {
    .bullet-list li {
      font-size: 14px;
    }
  }
}

.private-client {
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 14px;
    color: #555555;
    margin: 10px auto 15px;
  }
}
.advantages-of-trusts {
  .advantage {
    margin-top: 18px;
    margin-bottom: 20px;
  }
}

.family-trusts {
  position: relative;
  .family-trusts-colored {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #2f2933;
  }
  .feature-box {
    height: 420px;
    padding: 64px 80px;
    .inner {
      width: 100%;
    }
  }
  h3.alt-font {
    font-size: 14px;
    color: #999999;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1096px) {
  .family-trusts {
    .feature-box {
      height: 450px;
    }
  }
}
@media only screen and (max-width: 992px) {
  .family-trusts {
    .feature-box {
      height: auto;
    }
    .col-md-5:nth-of-type(2) h1 {
      margin: 35px 0 25px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .family-trusts {
    .family-trusts-colored {
      width: 100%;
      height: 50%;
    }
    .col-md-5:nth-of-type(1) {
      padding-bottom: 70px;
    }
  }
}


// CONTACT US
.contact-us {
  .section-white {
    background-color: #ffffff;
    padding: 50px 0;
  }
  h5 {
    font-size: 20px;
  }
  .form-contact {
    padding-top: 8px;
    .inputs-wrapper {
      font-size: 16px;
      .btn {
        font-size: 14px;
      }
      .form-message {
        height: 241px;
      }
    }
  }
  .map-wrapper {
    -webkit-filter: grayscale(100%); 
            filter: grayscale(100%);
  }
}
@media only screen and (min-width: 1200px) {
  .form-wrapper, .map-wrapper {
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .contact-us {
    .form-contact {
      margin-bottom: 30px;
      .inputs-wrapper .form-message {
        height: 150px;
      }
    }
  }
}

.lead-error {
  color: #d94947;
}
.lead-success {
  color: #58b551;
}


.ng-submitted .ng-invalid-required::-moz-placeholder {
  color: #d94947;
}
.ng-submitted .ng-invalid-required:-ms-input-placeholder {
  color: #d94947;
}
.ng-submitted .ng-invalid-required::-webkit-input-placeholder {
  color: #d94947;
}
.ng-submitted .ng-invalid-required input::-webkit-input-placeholder {
  color: #d94947;
}

.ng-submitted .ng-invalid-email {
  color: #d94947;
}

.action-banner {
  h1 {
    font-size: 21px;
    font-weight: 500;
  }
  .h2 {
    font-size: 23px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 600px) {
  .action-banner .background-image {
    max-height: none;
    max-width: 100%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 850px) {
  .background-image-holder .background-image {
    max-width: 140%;
  }
}
@media only screen and (min-width: 851px) and (max-width: 950px) {
  .background-image-holder .background-image {
    max-width: 130%;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1064px) {
  .background-image-holder .background-image {
    max-width: 120%;
  }
}

.action-banner .btn-filled {
  font-size: 14px
}
