<head-nav></head-nav>

<div class="main-container contact-us">
  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" ng-src="<%= asset_path('hero3.jpg') %>">
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pad-top">
          <h1 class="text-white">Contact Us</h1>
        </div>
      </div>
    </div>
  </header>

  <section class="contact-thirds section-white">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <div class="form-wrapper clearfix">
            <h5 class="text-center">Get in Touch!</h5>

            <p class="lead lead-success text-center" ng-show="sentWithSuccess">Thank you for your message. We will come back to you as soon as possible.</p>

            <p class="lead lead-error text-center" ng-show="sentWithError">Sorry, something went wrong. Please check your input and submit again.</p>
            
            <p class="lead lead-error text-center" ng-show="contactForm.$submitted && contactForm.$invalid && !sentWithSuccess">Some required fields are missing or incorrect.<br>Please review your input.</p>

            <form ng-hide="sentWithSuccess" name="contactForm" class="form-contact email-form" ng-class="formClass" novalidate>
              <div class="inputs-wrapper">
                <input class="form-name validate-required" type="text" placeholder="Name / Last Name" name="name" ng-model="contact.name" required>

                <input class="form-email validate-required validate-email" type="email" placeholder="Email Address" name="email" ng-model="contact.email" required>

                <textarea class="form-message validate-required" type="text" placeholder="Message" name="message" ng-model="contact.message" required></textarea>
              </div>
              <div class="text-center">
                <button class="btn btn-primary btn-blue" type="submit" ng-click="postMail(contact)">Send Form</button>
              </div>

            </form>
          </div>
        </div>
        
        <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-center">
          <h5>Details</h5>
          <p class="lead">
            +852 2617 9077<br>
            contactus@marathoncapital.com.hk<br>
            Suite 2001, 20th Floor, World Wide House, <br>Central, Hong Kong
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<foot-nav></foot-nav>
