<head-nav></head-nav>

<div class="main-container">
  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" ng-src="<%= asset_path('hero3.jpg') %>" image-on-load>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- <span class="text-white alt-font">Print, web &amp; branding</span> -->
          <h1 class="text-white">Corporate Trustee</h1>
          <!-- <p class="text-white lead">Learn why we're the best at what we do<br>and why we're regarded as one of the best<br>in the creative industry today.</p> -->
        </div>
      </div>
    </div>
  </header>
</div>

<foot-nav></foot-nav>
