<head-nav></head-nav>

<div class="main-container">
  <header class="page-header" id="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" ng-src="<%= asset_path('background-image-about.jpg') %>">
    </div>  
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pad-top">
          <h1 class="text-white">Corporate Services</h1>
          <p class="lead text-white">
            Effective Trust Solutions <br>
            To Safeguard Your <br>
            Business Interests
          </p>
        </div>
      </div>
    </div>
  </header>

  <section class="pure-text-centered" id="core-values">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Trust and Fiduciary Services</h1>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justify">
          <p class="lead">
            Legacy will serve local, regional and international clients, with a variety of services including wealth and estate planning, Trust administration, trustee and fiduciary services as well as fund and private equity services.
          </p>
          <p class="lead">
            To achieve this, Legacy will pursue the ongoing development of it’s retirement and special purpose Trust business, and will further  develop a range of retail Trust service offerings primarily in Hong  Kong and also throughout greater China and Southeast Asia.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="pure-text-centered" id="history">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Hong Kong ORS Services</h1>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justify">
          <p class="lead">
            Most overseas pensions heavily restrict the categories of investment assets that pensions are allowed to hold. Hong Kong, on the other hand, unlocks the possibilities of investment capacity to include the widest range of investments and locations, and permits maximum return on your assets.
          </p>
          <p class="lead">
            Furthermore, Hong Kong’s generous tax regime and favourable use of double taxation agreements,
          </p>
        </div>
        <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <p class="lead">
            no matter what your nationality, no matter where you currently reside for tax purposes, either now or in the future, works as an extremely efficient tax planning tool.
          </p>
          <p class="lead">
            Legacy has quickly matured into an innovator and trend-setter which expands the boundaries of how Hong Kong ORS are deployed and implemented on a local and international level.
          </p>
        </div>
      </div>
      <div class="row bullet-list-row">
        <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <img alt="Team Member" class="background-image" ng-src="<%= asset_path('team-member-1.jpg') %>">
        </div>
        <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <h2>Benefits:</h2>
          <ul class="bullet-list">
            <li class="bullet-1">Tax-Free distributions regardless of your place of residency;</li>
            <li class="bullet-1">Completely protected from creditors;</li>
            <li class="bullet-1">Set your own retirement regardless of age;</li>
            <li class="bullet-1">Pass assets and estate property to your family members without estate or capital gains taxes;</li>
            <li class="bullet-1">Under Hong Kong Retirement Plans, privacy is not just our policy... it’s the LAW!</li>
          </ul>
        </div>
      </div>
      <div class="row bullet-list-row">
        <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <img alt="Team Member" class="background-image" ng-src="<%= asset_path('team-member-1.jpg') %>">
        </div>
        <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-justify">
          <h2>Protection & Privacy:</h2>
          <ul class="bullet-list">
            <li class="bullet-1">Hong Kong Trust law provides robust creditor protection:</li>
            <li class="bullet-2">As the assets are not legally the property of the beneficiary, they are unavailable to creditors. If a threat to a Trust arises, the Trust would be placed in conservancy.</li>
            <li class="bullet-1">Privacy rules prevent creditors from assessing the value of the holdings in the Trust:</li>
            <li class="bullet-2">Privacy rules prevent the Trust from confirming that an individual is a beneficiary or member of the Trust;</li>
            <li class="bullet-2">Creditors, including foreign governments must apply to the Hong Kong Mandatory Provident Fund Authority (MPFA) to seek even basic information on the member, even confirmation that a Trust exist.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="pricing-1 bg-secondary-1 fiduciary-duty" id="fiduciary-duty">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-xs-offset-1 col-xs-10 text-center">
          <h1 class="text-white">Special Purpose Trusts</h1>
          <p class="lead text-white text-justify">Syndicated ORS clients are groups or individuals who have established ORS as structures to raise capital for their own designated business purposes. Such ORSs are generally tightly tailored to meet the objectives of the various sponsors of the syndicated ORSs.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="pure-text-centered" id="history">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>International Pension Plans</h1>
        </div>
        <div class="col-md-6 col-sm-12">
          <img alt="Team Member" class="background-image" ng-src="<%= asset_path('team-member-1.jpg') %>">
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="lead text-justify">
            The International Pension Plan is anOccupational Retirement Scheme held within a non-vested trust. As such it is recognised as a true pension by tax authorities and Double Taxation Agreements world-wide, making it a simple and extremely cost-effective and tax-efficient retirement savings vehicle.
          </p>
          <p class="lead text-justify">
            The IPP is able to receive monthly, quarterly, annual and ad hoc contributions from the individual’s deemed employer (i.e. not directly from the individual themselves), in the form of a salary sacrifice, or company contribution.
          </p>
          <p class="lead text-justify">
            A choice of three Model Portfolios graded according to risk rating (Conservative, Balanced and Adventurous) are available within the online investment platform, along with a wide range of mutual funds for own fund portfolio selection.
          </p>
          <a href="http://www.internationalpensionplan.com">www.internationalpensionplan.com</a>
        </div>
      </div>
    </div>
  </section>

</div>

<foot-nav></foot-nav>
