<!-- <header class="container">
  <nav class="main-menu">
    <ul class="list-inline">
      <li ng-class="isActive('/')">
        <a ng-href="/">Home</a>
      </li>
      <li ng-class="isActive('/about-us')">
        <a ng-href="/about-us">About Us</a>
      </li>
      <li ng-class="isActive('/resources')">
        <a ng-href="/resources">Resources</a>
      </li>
      <li ng-class="isActive('/corporate-services')">
        <a ng-href="/corporate-services">Corporate Services</a>
      </li>
      <li ng-class="isActive('/specialized-services')">
        <a ng-href="/specialized-services">Specialized Services</a>
      </li>
      <li ng-class="isActive('/contact-us')">
        <a ng-href="/contact-us">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
 -->

<div class="nav-container">
  <nav class="top-bar overlay-bar">
    <div class="container">
    
      <div class="row utility-menu">
        <div class="col-sm-12">
          <div class="utility-inner clearfix">
            <span class="alt-font"><i class="fa fa-map-marker"></i> 20th Floor, World Wide House, Central, Hong Kong</span>
            <span class="alt-font"><i class="fa fa-phone"></i> +852 2617-9177</span>
          
            <div class="pull-right">
              <a href="login.html" class="btn btn-primary btn-white btn-xs">Client Login</a>
              <a href="#" class="btn btn-primary btn-filled btn-xs">Open An Account</a>
              <a href="#" class="language"><img alt="English" ng-src="<%= asset_path('flags/gb.png') %>"></a>
              <a href="#" class="language"><img alt="English" ng-src="<%= asset_path('flags/hk.png') %>"></a>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="row nav-menu">
        <div class="col-md-2 col-sm-3 columns">
          <img class="logo logo-light" alt="Logo" ng-src="<%= asset_path('logo-light.png') %>">
          <img class="logo logo-dark" alt="Logo" ng-src="<%= asset_path('logo-dark.png') %>">
        </div>
      
        <div class="col-md-10 col-sm-9 columns">
          <ul class="menu">
            <li class="has-dropdown"><a href="#">About Legacy</a>
              <ul class="subnav">
                <li><a href="#">History</a></li>
                <li><a href="#">Board of Trustees</a></li>
                <li><a href="#">Fiduciary Duty</a></li>
                <li><a href="#">Press Releases</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Personal Trusts</a>
              <ul class="subnav">
                <li><a href="#">Succession Planning</a></li>
                <li><a href="#">International Pension Plans (IPP)</a></li>
                <li><a href="#">Executive Managememnt</a></li>
                <li><a href="#">Press Releases</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Glossary</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Corporate Trustee</a>
              <div class="subnav subnav-halfwidth">
                <div class="col-md-6">
                  <h6 class="alt-font">Capital Raisers</h6>
                  <ul class="subnav">
                    <li><a href="#">International Pension Plans (IPP)</a></li>
                    <li><a href="#">Example</a></li>
                    <li><a href="#">Example</a></li>
                    <li><a href="#">Example</a></li>
                  </ul> 
                </div>
                
                <div class="col-md-6">
                  <h6 class="alt-font">Professionals</h6>
                  <ul class="subnav">
                    <li><a href="#">Example</a></li>
                    <li><a href="#">Example</a></li>
                    <li><a href="#">Example</a></li>
                    <li><a href="#">Example</a></li>
                  </ul> 
                </div>
              </div>
            </li>
            <li class="has-dropdown"><a href="#">Specialised Services</a>
              <ul class="subnav">
                <li><a href="#">Trust Administration</a></li>
                <li><a href="#">Custody Services</a></li>
                <li><a href="#">Trust Accounting</a></li>
                <li><a href="#">Tax Review and Reporting</a></li>
                <li><a href="#">Record Keeping Services</a></li>
              </ul>
            </li>
          </ul>

          <ul class="social-icons text-right">
            <li>
              <a href="#">
                <i class="icon social_twitter"></i>
              </a>
            </li>
          
            <li>
              <a href="#">
                <i class="icon social_facebook"></i>
              </a>
            </li>
          
            <li>
              <a href="#">
                <i class="icon social_instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="mobile-toggle">
        <i class="fa fa-menu"></i>
      </div>
      
    </div>
  </nav>
</div>