<header class="container">
  <nav class="main-menu">
    <ul class="list-inline">
      <li ng-class="isActive('/')">
        <a ng-href="/">Home</a>
      </li>
      <li ng-class="isActive('/about-us')">
        <a ng-href="/about-us">About Us</a>
      </li>
      <li ng-class="isActive('/resources')">
        <a ng-href="/resources">Resources</a>
      </li>
      <li ng-class="isActive('/corporate-services')">
        <a ng-href="/corporate-services">Corporate Services</a>
      </li>
      <li ng-class="isActive('/specialized-services')">
        <a ng-href="/specialized-services">Specialized Services</a>
      </li>
      <li ng-class="isActive('/contact-us')">
        <a ng-href="/contact-us">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>