<div class="nav-container">
  <nav class="top-bar overlay-bar">
    <div class="container">
    
      <!-- <div class="row utility-menu">
        <div class="col-sm-12">
          <div class="utility-inner clearfix">
            <span class="alt-font"><i class="fa fa-map-marker"></i> 20th Floor, World Wide House, Central, Hong Kong</span>
            <span class="alt-font"><i class="fa fa-phone"></i> +852 2617-9177</span>
          
            <div class="pull-right">
              <a href="/login" class="btn btn-primary btn-white btn-xs">Client Login</a>
            </div>
          </div>
        </div>
      </div> -->
    
      <div class="row nav-menu">
        <div class="col-md-2 col-sm-3 columns">
          <a href ng-click="goTo('home', 'page-header', 0)">
            <img class="logo logo-light" alt="Logo" ng-src="<%= asset_path('logo-light.png') %>">
          </a>
          <a href ng-click="goTo('home', 'page-header', 0)">
            <img class="logo logo-dark" alt="Logo" ng-src="<%= asset_path('logo-dark.png') %>">
          </a>
        </div>
      
        <div class="col-md-10 col-sm-9 columns main-menu">
          <ul class="menu">
            <li class="has-dropdown">
              <a href ng-click="goTo('about-legacy', 'page-header', 0)">About Legacy</a>
              <ul class="subnav">
                <li><a href ng-click="goTo('about-legacy', 'history', 60)">History</a></li>
                <li><a href ng-click="goTo('about-legacy', 'core-values', 120)">Core Values</a></li>
                <li><a href ng-click="goTo('about-legacy', 'leadership', 120)">Leadership</a></li>
                <li><a href ng-click="goTo('about-legacy', 'fiduciary-duty', 120)">Fiduciary Duty</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href ng-click="goTo('corporate-services', 'page-header', 0)">Corporate Services</a>
              <ul class="subnav">
                <li><a href ng-click="goTo('corporate-services', 'trust-and-fiduciary-services', 60)">Trust and Fiduciary Services</a></li>
                <li><a href ng-click="goTo('corporate-services', 'hk-ors-services', 120)">Hong Kong ORS Services</a></li>
                <li><a href ng-click="goTo('corporate-services', 'special-purpose-trusts', 120)">Special Purpose Trusts</a></li>
                <li><a href ng-click="goTo('corporate-services', 'international-pension-plans', 120)">International Pension Plans</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="/specialised-services">Specialised Services</a>
              <div class="subnav subnav-halfwidth">
                <div class="col-md-6">
                  <h6 class="alt-font">Capital Raisers</h6>
                  <ul class="subnav">
                    <li><a href="/corporate-trustee#">International Pension Plans (IPP)</a></li>
                    <li><a href="/corporate-trustee#">Example</a></li>
                    <li><a href="/corporate-trustee#">Example</a></li>
                    <li><a href="/corporate-trustee#">Example</a></li>
                  </ul> 
                </div>
                
                <div class="col-md-6">
                  <h6 class="alt-font">Lorem Ipsum</h6>
                  <ul class="subnav">
                    <li><a href="/corporate-trustee">Example</a></li>
                    <li><a href="/corporate-trustee">Example</a></li>
                    <li><a href="/corporate-trustee">Example</a></li>
                    <li><a href="/corporate-trustee">Example</a></li>
                  </ul> 
                </div>
              </div>
            </li>
            <li class="has-dropdown"><a href="/contact-us">Contact Us</a>
              <ul class="subnav">
                <li><a href="/specialised-services#">Trust Administration</a></li>
                <li><a href="/specialised-services#">Custody Services</a></li>
                <li><a href="/specialised-services#">Trust Accounting</a></li>
                <li><a href="/specialised-services#">Tax Review and Reporting</a></li>
                <li><a href="/specialised-services#">Record Keeping Services</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>

      <div class="mobile-toggle" ng-click="openNav()">
        <i class="icon icon_menu"></i>
      </div>
      
    </div>
  </nav>
</div>