<head-nav></head-nav>

<div class="main-container">

  <section class="hero-slider" id="page-header">
    <ul class="slides" element-ready>

      <li class="overlay">
        <div class="background-image-holder parallax-background">
          <img class="background-image" alt="Background Image" ng-src="<%= asset_path('background-image-home-1.jpg') %>">
        </div>
        <div class="align-vertical-wrapper">
          <div class="align-vertical align-vertical-inner">
            <div class="container">
              <div class="row">
                <div class="col-md-12 pad-top">
                  <h1 class="text-white">Reputation, Trust and Transparency</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      
      <li class="overlay">
        <div class="background-image-holder parallax-background">
          <img class="background-image" alt="Background Image" ng-src="<%= asset_path('background-image-home-2.jpg') %>">
        </div>
        <div class="align-vertical-wrapper">
          <div class="align-vertical align-vertical-inner">
            <div class="container">
              <div class="row">
                <div class="col-md-12 pad-top">
                  <!-- <span class="text-white alt-font">Personal Trusts</span> -->
                  <h1 class="text-white">We are passionate in catering your financial needs</h1>
                  <!-- <p class="lead text-white">A personal trust embodies your financial plan for the future and is as unique as you are. It is tailored specifically to your needs, your circumstances, your assets and, most importantly, designed to support your goals.</p> -->
                  <!-- <a href="/personal-trusts" class="btn btn-primary btn-white">More about personal trusts ›</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      
      <li class="overlay">
        <div class="background-image-holder parallax-background">
          <img class="background-image" alt="Background Image" ng-src="<%= asset_path('background-image-home-3.jpg') %>">
        </div>
        <div class="align-vertical-wrapper">
          <div class="align-vertical align-vertical-inner">
            <div class="container">
              <div class="row">
                <div class="col-md-12 pad-top">
                  <h1 class="text-white">Our principals together bring in their professional financial skills, experience and credentials</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="duplicatable-content home-2-columns">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="feature feature-icon-large">
            <div class="pull-right">
              <h1>Corporate Services</h1>
              <h5 class="text-left">Effective Trust Solutions to Safeguard Business Interests</h5>
              <p class="lead">
                Assigning a trustee to be responsible for managing company's assets and affairs can be the most important decision you can make. Legacy offers the extensive knowledge and experience necessary to handle your trust.
              </p>
              <a href ng-click="goTo('corporate-services', 'page-header', 0)" class="btn btn-primary btn-blue btn-squarish hidden-md hidden-lg">
                More about our
                <br class="show-small">
                Corporate Services
                <span class="hide-small">›</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature feature-icon-large text-left">
            <div class="pull-right">
              <h1>Specialised Services</h1>
              <h5 class="text-left">A Personal Trust Can Be As Unique As You Are</h5>
              <p class="lead">
                Naming a trustee to be responsible for managing your assets and legal affairs is one of the most important decisions you can make. Legacy Trust offers the extensive knowledge and experience necessary to handle your trust.
              </p>
              <a href ng-click="goTo('specialised-services', 'page-header', 0)" class="btn btn-primary btn-blue btn-squarish hidden-md hidden-lg">
                More about our
                <br class="show-small">
                Specialised Services
                <span class="hide-small">›</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row hidden-sm hidden-xs">
        <div class="col-md-6">
          <div class="feature feature-icon-large">
            <div class="pull-right">
              <a href ng-click="goTo('corporate-services', 'page-header', 0)" class="btn btn-primary btn-blue btn-squarish">More about our Corporate Services ›</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature feature-icon-large">
            <div class="pull-right">
              <a href ng-click="goTo('specialised-services', 'page-header', 0)" class="btn btn-primary btn-blue btn-squarish">More about our Specialised Services ›</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pure-text-centered">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h1>Why Legacy</h1>
          <p class="lead">
            Legacy Trust Company’s competitive advantage lies in its passion for its business. We are passionate about helping people to achieve their objectives—whether this be to maximize their pension assets to insure they are able to live comfortable, fulfilling lives secured by solid asset bases, or to provide innovative structures to assist entrepreneurs to achieve their corporate objectives.
          </p>
          <p class="lead">
            The business is driven by staff who are expert in the application of the permissions created by exemptions under the Ordinances in the Securities, Trust, Insurance and Pension fields.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="action-banner overlay">
    <div class="background-image-holder">
      <img class="background-image" alt="Background Image" ng-src="<%= asset_path('background-image-home-4.jpg') %>">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h1 class="text-white">Contact one of our skilled professionals to find the right trust product for you.
          </h1>
          <h2 class="text-white">Contact us at (+852) 2617-9177 </h2>
          <a href ng-click="goTo('contact-us', 'page-header', 0)" class="btn btn-primary btn-white btn-filled">Schedule a Call</a>
        </div>
      </div>
    </div>
  </section>

</div>

<foot-nav></foot-nav>
