<head-nav></head-nav>

<div class="container">
  <h1>Home</h1>

  <p>{{welcome}}</p>

  <ul>
    <li ng-repeat="user in users">
      {{user.first_name}} {{user.last_name}}
    </li>
  </ul>

  <img ng-src="<%= asset_path('hong-kong.jpg') %>"
</div>

<foot-nav></foot-nav>
