<!DOCTYPE html>
<html ng-app="legacyTeam">
<head>
  <title>LegacyTeam</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <base href="/">
</head>
<body  ng-view>

<%= yield %>

</body>
</html>
